---
layout: default
title: Home
---
<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
  </div>
</div>

<header class="blog-header">
  {% if site.logo %}
    <a class="blog-logo" href="{{ site.url }}{{ site.baseurl }}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>

  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}>
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
  </div>
</header>

<main class="content" role="main">

  <section>
    <h2>About Me</h2>
    <p>I’m Amy Fischbach, a Business and Data Science Analyst from Chicago, IL who is passionate about translating data into usable business decisions. I specialize in coding languages such as SQL, Python, and R, predictive modeling, and strategic analytics.</p>
  </section>

  <section>
    <h2>Education</h2>
    <ul>
      <li>
        <img src="/assets/logos/purdue.png" alt="Purdue University" style="height: 30px; vertical-align: middle; margin-right: 8px;">
        <div>
        <strong>M.S. in Business Analytics and Information Management</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Purdue University</em>
          <span>Aug 2024 – Aug 2025</span>
        </span>
      </div>
      </li>
      <li>
        <img src="/assets/logos/iu.jpg" alt="Indiana University" style="height: 30px; vertical-align: middle; margin-right: 8px;">
        <div>
        <strong>B.S. in Economic Consulting, Business Analytics, and Technology Management</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Indiana University</em>
          <span>Aug 2015 – May 2019</span>
        </span>
      </div>
      </li>
    </ul>
  </section>

  <section>
  <h2>Work Experience</h2>
  <ul style="list-style: none; padding: 0;">
    
    <li style="display: flex; align-items: flex-start; gap: 10px; margin-bottom: 1.5rem;">
      <img src="/assets/logos/royalcaribbean.png" alt="Royal Caribbean" style="height: 30px;">
      <div>
        <strong>Lead, Onboard Revenue and Analytics</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Royal Caribbean Group</em>
          <span>Jan 2024 – Jul 2024</span>
        </span>
        <ul>
          <li>Set new March Perfect Day sales record with total gross revenue of $13M</li>
          <li>Initiated creation of Airport Transfer products, resulting in 300K for 2024</li>
          <li>Devised and constructed Shore Excursion promotions for Flash Sales</li>
          <li>Trained 3-person team on price management, promotion building, and report creation</li>
          <li>Collaborated with Data Science team to simplify ongoing template for future pricing automation for products</li>
        </ul>
      </div>
    </li>

    <li style="display: flex; align-items: flex-start; gap: 10px; margin-bottom: 1.5rem;">
      <img src="/assets/logos/royalcaribbean.png" alt="Royal Caribbean" style="height: 30px;">
      <div>
        <strong>Sr. Analyst, Onboard Revenue and Analytics</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Royal Caribbean Group</em>
          <span>Sep 2021 – Jan 2024</span>
        </span>
        <ul>
          <li>Continued to analyze Perfect Day pricing, achieved record $12M in gross revenue in July 2023</li>
          <li>Opened new Hideaway Beach products in Perfect Day, which brought ~$700K within first week of sales</li>
          <li>Updated PowerBI reporting for weekly Shorex performance and achievement to target for each month</li>
          <li>Planned pricing and inventory strategy for Celebrity itineraries to Perfect Day, first time brand visited the island</li>
        </ul>
      </div>
    </li>

    <li style="display: flex; align-items: flex-start; gap: 10px; margin-bottom: 1.5rem;">
      <img src="/assets/logos/royalcaribbean.png" alt="Royal Caribbean" style="height: 30px;">
      <div>
        <strong>Analyst, Onboard Revenue and Analytics</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Royal Caribbean Group</em>
          <span>Jul 2019 – Sep 2021</span>
        </span>
        <ul>
          <li>Price managed Perfect Day (the most popular port) tours to help achieve $25 million in total revenue in 2019</li>
          <li>Created Shorex Action Plan for Return to Service to target pent-up demand combined with Covid-19 restrictions</li>
          <li>Designed new Shorex Commissions format to accommodate shipboard and shoreside expectations</li>
        </ul>
      </div>
    </li>

    <li style="display: flex; align-items: flex-start; gap: 10px;">
      <img src="/assets/logos/motorola.jpg" alt="Motorola Solutions" style="height: 30px;">
      <div>
        <strong>Data Analytics Intern</strong><br>
        <span style="display: flex; justify-content: space-between; width: 100%;">
          <em>Motorola Solutions</em>
          <span>May 2017 – Aug 2018</span>
        </span>
        <ul>
          <li>Built data architecture for Tableau reports through communication with various groups for all requirements</li>
          <li>Optimized procurement report process from 17 steps (30–40 mins) to 12 steps (15 mins)</li>
          <li>Fielded data requests and modeling asks for Category Managers to adjust Tableau reporting</li>
        </ul>
      </div>
    </li>

  </ul>
</section>


  <section>
    <h2>Projects</h2>
    <ul>
      <li>
        <strong>SIL GeoMapping Tool Building</strong><br>
        <a href="/assets/docs/Mapping the Path to Translations Empowering SIL to Reach New Frontiers in Language Translations.docx" target="_blank">
          Project Paper (DOCX)
        </a> |
        <a href="https://www.youtube.com/watch?v=NL5knCowE5g" target="_blank">
          YouTube Explanation
        </a><br>
        <em>🏆 Awarded 1st Place at the 2025 Midwest Decision Sciences Institute (MWDSI) Conference</em>
      </li>
      <li>
        <a href="https://github.com/AmyFischbach/GAP_case_analysis" target="_blank">
          GAP Case Analysis
        </a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Certifications</h2>
    <ul>
      <li>Microsoft Certified: Azure Fundamentals</li>
      <li>Microsoft Certified: Azure AI Fundamentals</li>
    </ul>
  </section>

  <section>
    <h2>Resume</h2>
    <p>Download my <a href="/assets/docs/AmyFischbach_Resume.pdf" target="_blank">resume here (PDF)</a>.</p>
  </section>

</main>
